<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.five.myacademy.vo.MemberVO" alias="member"/>
		<typeAlias type="com.five.myacademy.vo.GoodVO" alias="good"/>
		<typeAlias type="com.five.myacademy.vo.N_BoardVO" alias="n_board"/>
		<typeAlias type="com.five.myacademy.vo.F_BoardVO" alias="f_board"/>
		<typeAlias type="com.five.myacademy.vo.ReplyVO" alias="reply"/>
		<typeAlias type="com.five.myacademy.vo.AcademyVO" alias="academyVO"/>
		<typeAlias type="com.five.myacademy.vo.AcademyNoticeVO" alias="academyNoticeVO"/>
		<typeAlias type="com.five.myacademy.vo.AddressVO" alias="addressVO"/>
		<typeAlias type="com.five.myacademy.vo.FilterVO" alias="filterVO"/>
		<typeAlias type="com.five.myacademy.vo.BookMarkVO" alias="bookmarkVO"/>
		<typeAlias type="com.five.myacademy.vo.Member_LogVO" alias="log"/>
		<typeAlias type="com.five.myacademy.vo.MeetingVO" alias="meetingVO"/>
	</typeAliases> 
	
	<mappers>
		<mapper resource="config/mybatis/mapper/member.xml"/>
		<mapper resource="config/mybatis/mapper/academy.xml"/>
		<mapper resource="config/mybatis/mapper/address.xml"/>
		<mapper resource="config/mybatis/mapper/good.xml"/>
		<mapper resource="config/mybatis/mapper/bookmark.xml"/>
		<mapper resource="config/mybatis/mapper/n_board.xml" />
		<mapper resource="config/mybatis/mapper/f_board.xml" />
		<mapper resource="config/mybatis/mapper/reply.xml"/>
		<mapper resource="config/mybatis/mapper/memberlog.xml"/>
		<mapper resource="config/mybatis/mapper/academynotice.xml"/>
		<mapper resource="config/mybatis/mapper/meeting.xml"/>
	</mappers>
</configuration>